!!
!! PyRED - http://q4md-forcefieldtools.org
!! Compatible with Python versions 2.6.x & 2.7.x
!!
!!    FF   = empirical force field
!!    lib. = library
!!    QM   = quantum mechanics
!!    MEP  = molecular electrostatic potential
!!
!!         Project.config file
!! Description of the different keywords used
!!     Documentation of November 30th, 2014
!!
!! The Project.config file is not required for FF generation:
!!   - for a molecule with a neutral total charge, and
!!   - for a molecule with a spin multiplicity of '1', and
!!   - when no molecular fragment is generated.
!!
!! ACTIVATE A KEYWORD IN THE PROJECT.CONFIG FILE ONLY WHEN YOU NEED IT:
!! REMOVE A '#' CHARACTER ONLY WHEN UNDERSTANDING THE MEANING OF A KEYWORD
!!
!!
!! In a PyRED job, which involves multiple orientations multiple conformations
!!   and/or multiple molecules:
!!   - '$n' is the molecule index involving multiple molecules
!!   - each molecule can contain '$i' conformation(s)
!!   - each conformation can be involved in a '$j' reorientation(s) procedure
!!  '$n', '$i' and '$j' are integers, which are strickly greater than '0'.
!!
!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!        Molecule keywords, which depend on the '$n' molecule index       !!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!
!! The title of molecule '$n':
!! The MOLECULE'$n'-TOTCHARGE keyword allows defining an informative title for
!!   a molecule. If this keyword is not provided the MOLECULE-'$n' title is 
!!   assigned by default.
# MOLECULE1-TITLE        = Dimethylphosphate
!!
!! The total charge of molecule '$n':
!! The MOLECULE'$n'-TOTCHARGE keyword is required only if the total charge
!!   value of the molecule does not equal '0'. If this keyword is not provided 
!!   0 is the total charge value assigned by default.
# MOLECULE1-TOTCHARGE    = -1
!!
!! The spin multiplicity of molecule '$n':
!! The MOLECULE'$n'-SPINMULT keyword is required only if the spin multiplicity
!!   value of the molecule does not equal '1'. If this keyword is not provided 
!!   1 is the spin multiplicity value assigned by default.
# MOLECULE1-SPINMULT     = 1
!!
!! The atoms of molecule '$n' are automatically reordered so that the hydrogen
!!   atoms are located after the heavy atom they are bound to:
!! The output atom order is used for all the files generated by PyRED.
!! If not provided MOLECULE'$n'-ATMREORDR = ON is the default.
!! If MOLECULE'$n'-ATMREORDR = OFF the atom order provided in the PDB input 
!!   file is conserved.
# MOLECULE1-ATMREORDR    = ON
!!
!! Automatically correct the atom names of molecule '$n' so that two atoms in 
!!   a residue cannot share the same name:
!! If not provided MOLECULE'$n'-ATMCOR = ON1 is the default.
!! If MOLECULE'$n'-ATMCOR = ON1 only redundant atom names are renamed.
!! If MOLECULE'$n'-ATMCOR = ON2 all the atoms are renamed so that an atom name
!!   is composed by its element and an integer, that is incremented.
!! If MOLECULE'$n'-ATMCOR = OFF atom names are not corrected, even if
!!   duplicates are found (not recommended).
# MOLECULE1-ATMCOR       = ON1
!!
!! Atom connectivities are automatically determined for each optimized 
!!   geometry/conformation of molecule '$n':
!! Atom connectivities allow defining the molecular topology, and is used in 
!!   chemical equivalencing.
!! If not provided MOLECULE'$n'-CALCONECT = ON is the default.
!! Setting MOLECULE'$n'-CALCONECT = OFF, and providing the atom connectivities
!!   in the PDB input file prevent automatic atom connectivity determination.
!!   Atom connectivities provided in the PDB input file are then used to 
!!   define the molecular topology and chemical equivalencing.
# MOLECULE1-CALCONECT    = ON
!!
!! Chemical equivalencing used in the charge fitting step is automatically 
!!   determined for molecule '$n':
!! If not provided MOLECULE'$n'-CALCHEMEQ = ON is the default.
!! Set MOLECULE1-CALCHEMEQ = OFF to cancel chemical equivalencing (not 
!!   recommended).
# MOLECULE1-CALCHEMEQ    = ON
!!
!! Automatically correct the residue names of molecule '$n' in PyRED outputs:
!! Residue names are always checked using empirical rules, and a residue name
!!   is always composed by three characters.
!! If not provided MOLECULE'$n'-RESMOD = ON is the default.
!! If MOLECULE'$n'-RESMOD = ON a single residue name by molecule is generated,
!!   and atom names are corrected accordingly.
!! If MOLECULE'$n'-RESMOD = OFF and if they are judged correct residue names 
!!   of molecule '$n' are conserved.
# MOLECULE1-RESMOD       = ON
!!
!! Definition of the atom names of molecule '$n':
!! If this keyword is not provided the atom names are automatically determined
!!   from the PDB input file.
# MOLECULE1-ATMNAME      = C1 H11 H12 H13 O3' P O1P O2P O5' C2 H21 H22 H23
!!
!! Definition of the elements of the atoms of molecule '$n'
!! If this keyword is not provided the elements are automatically determined
!!   from the PDB input file.
# MOLECULE1-ATMELME      = C H H H O P O O O C H H H
!!
!! Definition of the atom types of molecule '$n':
!! Useful to modify the atom types automatically determined by PyRED, and/or
!!   to define new atom types.
!! When new atom types are defined a 'frcmod.user' file can also be provided as 
!!   input to PyRED to provide the force field parameters related to these new
!!   atom types.
!! If this keyword is not provided the atom types are automatically determined
!!   based on the dictionary of atom types developed in PyRED.
# MOLECULE1-ATMTYPE      = CT H1 H1 H1 OS P  O2 O2 OS CT H1 H1 H1
!! Thus, GAFF atom types can be used in association with the 'gaff.dat' file 
!!   provided as a 'frcmod.user' file: 
# MOLECULE1-ATMTYPE      = c3 h1 h1 h1 os p5 o  o  os c3 h1 h1 h1
!!
!! Forcing chemical equivalencing of molecule '$n' for the charge fitting step
!!   carried out without intra-molecular charge constraint(s):
!! This is achived by providing atom names based on two empirical/basic rules:
!!   (i) atoms, which are chemically equivalent bear the same element and the 
!!   same integer,
!!   (ii) if one wants to recompute the charge values of atoms or groups of
!!   toms in the second resp stage (usually the charges of the methylene and
!!   methyl groups) the heavy atoms of these groups have to be underlined using 
!!   the '@' character.
!! If not provided chemical equivalencing is automatically determined.
# MOLECULE1-CHEMEQSM     = C@1 H1 H1 H1 O1 P1 O2 O2 O1 C@1 H1 H1 H1
!!
!! Forcing chemical equivalencing of molecule '$n' for the charge fitting step 
!!   carried out with intra-molecular charge constraint(s):
!! This is achived by providing specific atom names; see empirical rules above
!! If not provided chemical equivalencing is automatically determined.
!! This keyword is often required when using intra-molecular charge constraint
!!   and can be adapted from MOLECULE1-CHEMEQSM printed in the 'Project.config'
!!   file obtained from a previous PyRED job (see the 'Data-Default-Proj' 
!!   directory).
# MOLECULE1-CHEMEQIA     = C1 H2 H3 H4 O1 P1 O2 O2 O3 C@2 H2 H2 H2
!!
!! Forcing chemical equivalencing of molecule '$n' for the charge fitting step 
!!   involving multiple molecules:
!! This is achived by providing specific atom names; see empirical rules above
!! If not provided chemical equivalencing is automatically determined.
!! This keyword is often required for the charge fitting step, which involves 
!!   multiple molecules, and can be adapted from MOLECULE1-CHEMEQSM printed
!!   in the 'Project.config' file obtained from a previous PyRED job.
# MOLECULE1-CHEMEQMM     = C1 H1 H2 H3 O1 P1 O2 O2 O4 C2 H4 H5 H6
!!
!! The rigid body re-orientation algorithm (RBRA) is applied to each optimized
!!   geometry/conformation of molecule '$n' before MEP computation:
!! This allows deriving highly reproducible MEP-based charge values.
!!   see http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2918240/
!! Two sets of indexes for 3 non-linear atoms are automatically selected from 
!!   the center of mass of the molecule, and involved in the RBRA procedure.
!!   A '$j' = 2 molecular reorientation MEP-based computation is consequently 
!!   carried out (recommended). In that case the two set of indexes are chosen
!!   so that the impact of the first reorientation on the MEP is cancelled out
!!   by the second one.  
!! If not provided MOLECULE'$n'-RBRA = ON is the default.
!! If MOLECULE'$n'-RBRA = OFF the molecular orientation generated after 
!!   geometry optimization and defined by the QM program is directly involved 
!!   in MEP  computation. A '$j' = 1 MEP-based computation is carried out, 
!!   and leads to non-reproducible charge values (not recommended).
!!   see http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2918240/
# MOLECULE1-RBRA         = ON
!!
!! If MOLECULE'$n'-RBRA = ON the procedure controlled using the MOLECULE'n'-
!!   REORIENT keyword allows managing reorientations (i.e. a translation
!!   and a series of rigid body rotations) for each optimized geometry/
!!   conformation of molecule '$n'.
!!   see http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2918240/
!! Set(s) of indexes for 3 non-linear atoms are defined in MOLECULE'n'-REORIENT
!!   and involved in the procedure.
!! If MOLECULE'n'-RBRA = ON and none of the three MOLECULE'n'-REORIENT, 
!!   MOLECULE'n'-ROTATE and MOLECULE'n'-TRANSLATE keywords is provided two
!!   sets of 3 non-linear atoms are automatically selected by PyRED (see 
!!   above; recommended).
# MOLECULE1-REORIENT     = 1 2 3 | 3 2 1 | 1 6 10 | 10 6 1
!!
!! If MOLECULE'$n'-RBRA = ON the procedure controlled using the MOLECULE'n'-
!!   ROTATE keyword allows managing rotations (i.e. a series of rigid body
!!   rotations) for each optimized geometry/conformation of molecule '$n'.
!! Set(s) of indexes for 3 non-linear atoms are defined in MOLECULE'n'-ROTATE
!!   and involved in the procedure.
!! Using the same indexes in MOLECULE'n'-ROTATE or in MOLECULE'n'-REORIENT
!!   leads to identical charge values.
!! If MOLECULE'n'-RBRA = ON and none of the three MOLECULE'n'-REORIENT, 
!!   MOLECULE'n'-ROTATE and MOLECULE'n'-TRANSLATE keywords is provided two
!!   sets of indexes for 3 non-linear atoms are automatically selected.
# MOLECULE1-ROTATE       = 1 2 3 | 3 2 1 | 1 6 10 | 10 6 1
!!
!! If MOLECULE'$n'-RBRA = ON the procedure controlled using the MOLECULE'n'-
!!   TRANSLATE keyword allows managing translations carried out on the X, Y 
!!   and Z axes for each optimized geometry/conformation of molecule '$n'.
!! A translation results in different set of Cartesian coordinates used in 
!!   MEP computation, but does not affect charge values.
!! Set(s) of 3 distances are defined in the MOLECULE'n'-TRANSLATE keyword,
!!   and applied on the X, Y and Z axes.
!! If MOLECULE'n'-RBRA = ON and none of the three MOLECULE'n'-REORIENT, 
!!   MOLECULE'n'-ROTATE and MOLECULE'n'-TRANSLATE keywords is provided two
!!   sets of 3 non-linear atoms are automatically selected by PyRED.
# MOLECULE1-TRANSLATE    = 1  0  0 | 0  2  0 | 0  0 -3 | 1  2 -3
!!
!! Request the use of an intra-molecular charge constraint for molecule '$n'
!!   during the charge fitting step:
!! This allows constraining the charge value of an atom or a group of atoms 
!!   as well as generating molecular fragment(s) from molecule '$n'.
!!   see http://q4md-forcefieldtools.org/Tutorial/Tutorial-3.php#15
!! The format to be used is the following: 
!!   Value of the constraint | atom indexes belonging to the constraint |
!!   R flag ('remove' the atoms involved in the constraint in the FF lib.)
!!   or K flag ('keep' the atoms involved in the constraint in the FF lib.)
!! INTRA-MCC1: the constraint is not repeated in the second fitting stage, 
!!   and/or the charge values of chemically equivalent atoms, that belong 
!!   to the list of atoms involved in the constraint, are not equivalenced.
!!   This leads to the use of a minimum number of constraints during the
!!   charge fitting step, and is the approach that was originally developed.
!! INTRA-MCC2: the constraint is repeated in the second fitting stage, 
!!   and/or the charge values of chemically equivalent atoms, that belong 
!!   to the list of atoms involved in the constraint, are equivalenced.
# MOLECULE1-INTRA-MCC1   = 0.0 | 1 2 3 4 | Remove
!!  or
# MOLECULE1-INTRA-MCC2   = 0.0 | 1 2 3 4 | Remove
!!
!! Request the definition of a head for the first open valency created for 
!!   a molecular fragment(s) built from molecule '$n':
!! If not provided a head is the default for the first open valency of a 
!!   fragment
!! If MOLECULE'$n'-MOL3HEAD = OFF a tail is defined for the first open 
!!   valency of a fragment.
!! The definition of a 'head' or a 'tail' for a molecular fragment only 
!!   matters when the mol3 lib. file format is selected.
!!   see http://q4md-forcefieldtools.org/Tutorial/leap-mol3.php
!! See the definition of the 'head' and the 'tail' of a molecular fragment
!!   from the documentation of the LEaP program.
!!   see http://ambermd.org/doc6/html/AMBER-sh-5.9.html#sh-5.9.63
# MOLECULE1-MOL3HEAD     = ON
!!
!! Request the generation of lone-pair(s) (LP) on an heteroatom (HA) such 
!!   as an oxygen, nitrogen or sulfur atom based on the work of 
!!   Dixon & Kollman J. Comput. Chem. 1997, 18, 1632-1646.
!! Default algorithm:
!! MOLECULE1-LONEPAIR = HA_index
# MOLECULE1-LONEPAIR = 5
# MOLECULE1-LONEPAIR = 9
!! Modification of the default algorithm i.e. modification of the distance
!!   and angle values (in angstroms and degrees) as well as the number of lone
!!   pair(s), respectively; to be provided on a single line:
!! MOLECULE1-LONEPAIR = HA_index  Distance_HA-LP  Atom1_index 
!!    Angle_value1_Atom1-HA-LP  Atom2_index  Angle_value2_Atom2-HA-LP 
!!    | Number_of_LP
!!
!! Automatic generation of the amino acid fragments (N-terminal, C-terminal 
!!   and central fragments) from a dipeptide molecule:
!! Simply provide the atom indexes of the two capping groups (generally the
!!   CH3CO and NHCH3 groups) of the dipeptide molecule.
# MOLECULE1-FRGAA    = 1 2 3 4 5 6 | 20 21 22 23 24 25
!!
!! Automatic generation of the nucleotide fragments (5'-terminal, 3'-terminal
!!   and central fragments) from a nucleoside molecule:
!! Simply provide the atom indexes of the two groups of atoms (generally the 
!!   HO3' and HO5' hydroxyl groups) involved in the phosphodiester backbone.
# MOLECULE1-FRGNT    = 1 2 | 3 4
!!
!! Definition of geometrical constraints during geometry optimization:
!! Positional constraint: provide the atom index to be constrained (fixed).
!!   To be repeated for each atom to be constrained:
# MOLECULE1-GEOMOPTCONST = 1
!! Bond constraint: provide the two atom indexes involved in the  
!!   constrained bond | bond value (in angstroms - optional)
!!   To be repeated for each bond to be constrained:
# MOLECULE1-GEOMOPTCONST = 1 2 | 1.5
!! Angle constraint: provide the three atom indexes involved in the 
!!   constrained angle | angle value (in degrees - optional)
!!   To be repeated for each angle to be constrained:
# MOLECULE1-GEOMOPTCONST = 1 2 3 | 109.5
!! Dihedral constraint: provide the four atom indexes involved in the 
!!   constrained dihedral | dihedral value (in degrees - optional)
!!   To be repeated for each dihedral to be constrained:
# MOLECULE1-GEOMOPTCONST = 1 2 3 4 | -60.0
!! Important remarks:
!! Using a positional constraint for an atom is not possible in GAMESS or 
!!   Firefly.
!! When using Gaussian 03, Gaussian 09 A.02, GAMESS or Firefly bond, angle 
!!   and dihedral values are read. However, it is advised to provide 
!!   Cartesian coordinates close to the constrained value(s). This allows 
!!   faster convergence.
!! When using Gaussian 09 C.01 or Gaussian 09 D.01 bond, angle and dihedral 
!!   values are not read. Thus, the user must provide Cartesian coordinates
!!   in agreement with the constrained value(s).
!!   Here using a PDB input file with four digits after the decimal point 
!!   increases the accuracy.
!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!     Molecule keywords, which does not depend on the molecule number     !!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!
!! Request the definition of a single residue in each molecular fragment 
!!   generated. Atoms are automatically renamed if duplicates are found.
!! If not provided FRAGMENT-RESMOD = ON is the default.
!! If FRAGMENT-RESMOD = OFF the residues in the built fragments are based on
!!   the residues defined in the input molecule(s).
# FRAGMENT-RESMOD        = ON
!!
!! Request the use of an inter-molecular charge constraint between two
!!   different molecules involved in a multiple molecules job:
!! This allows generating molecular fragment(s) from two molecules.
!! See http://q4md-forcefieldtools.org/Tutorial/Tutorial-3.php#16
!!     http://q4md-forcefieldtools.org/Tutorial/Tutorial-3.php#17 and
!!     http://q4md-forcefieldtools.org/Tutorial/Tutorial-3.php#18
!! The format is the following:
!! Value of the constraint | two molecule indexes involved in this constraint
!! | atom indexes belonging to the first molecule involved in the constraint
!! | atom indexes belonging to the second molecule involved in the constraint
!! INTER-MCC1: the constraint is not repeated in the second fitting stage,
!!   and/or the charge values of chemically equivalent atoms, that belong to
!!   the list of atoms involved in the constraint, are not equivalenced.
!!   This leads to the use of a minimum number of constraints during the
!!   charge fitting step, and is the approach that was originally developed.
!! INTER-MCC2: the constraint is repeated in the second fitting stage and/or 
!!   the charge values of chemically equivalent atoms, that belong to the 
!!   list of atoms involved in the constraint, are equivalenced.
# MOLECULE-INTER-MCC1    = 0.0 | 1 2 | 10 11 12 13 | 1 2 
# MOLECULE-INTER-MCC1    = 0.0 | 1 2 |  1  2  3  4 | 3 4
!!  or
# MOLECULE-INTER-MCC2    = 0.0 | 1 2 | 10 11 12 13 | 1 2 
# MOLECULE-INTER-MCC2    = 0.0 | 1 2 |  1  2  3  4 | 3 4
!!
!! Request the use of inter-molecular charge equivalencing between atoms 
!!   belonging to different molecules involved in a multiple molecules job:
!!   i.e. charge values of atoms belonging to identical groups of atoms in 
!!   different molecules are forced to be equivalent.
!! Two formats are implemented: MOLECULE-INTER-MEQA and MOLECULE-INTER-MEQB:
!! Molecule indexes involved in the constraints | identical atom indexes 
!! belonging to all the molecules involved in the constraints
# MOLECULE-INTER-MEQA    = 2 3 4 5 | 1 2 3 4
!! Molecule indexes involved in the constraints | list(s) of atom indexes 
!! involved in the constraints separated by the '-' character
# MOLECULE-INTER-MEQB    = 2 3 4 | 10 11 12 - 11 12 13 - 12 13 14 - 13 14 15
!!
!! Control of the radius of the [K - LR] elements used in MEP computation
!! This option is limited to the execution of the Gaussian program.
!! - If defined in Bondi J. Phys. Chem. 1964, 68, 441 the Bondi radii are used.
!! - If not defined by A. Bondi and not provided by using the keyword below 1.8
!!   is the value used by default.
!! ELEMENT-RADIUS = 1.7
# FE-RADIUS = 1.7
!!
